.main-container {
  position: relative;
  top: 100px;
  display: flex;
  width: 68%;
  margin-left: 12%;
}

.profiles-title {
  width: 100%;
  font-size: 25px;
  text-align: left;
  font-family: "Times New Roman";
}

.left-container {
  padding-right: 32px;
}

.profile-image {
  width: 175px;
  margin-left: 50px;
  border: none;
  margin-top: 10px;
}

.left-menu {
  margin-top: 25px;
  width: 298px;
}

.left-menu-title {
  text-align: center;
  height: 45px;
  width: 280px;
  font-size: 12px;
  line-height: 15px;
  background: rgb(214, 214, 214);
  margin-top: 1px;
  transition: all 0.2s;
}

.practice-area {
  height: 45px;
  width: 280px;
  font-size: 12px;
  line-height: 15px;
  background: rgb(233, 233, 233);
  margin-top: 1px;
  transition: all 0.2s;
}

.practice-area:hover {
  width: 285px;
  height: 50px;
  background: rgb(243, 243, 243);
}

.inline-title {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

/* form  */
form {
  margin-top: 10px;
  width: 100%;
}

#fs-frm label {
  margin-right: 5px;
  margin-top: 10px;
}

#message-label {
  margin-bottom: 4px;
}

#message {
  margin-top: 6px;
  width: 100%;
  height: 240px;
}

.contact input {
  border: 0.5px solid black;
  width: calc(50% - 4px);
  height: 40px;
  border-radius: 5px;
  padding: 10px;
}

.contact textarea {
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 10px;
}

#full-name {
  /* border-radius: 5px; */
  /* width: calc(100% - 92px); */
}

#email-address {
  /* border-radius: 5px; */
  /* width: calc(100% - 125px); */
  margin-left: 2px;
  margin-top: 6px;
}

#phone {
  margin-left: 2px;
}

#location {
  margin-top: 6px;
}

.contact .right-container {
  min-width: 50vw;
}

#contact-submit {
  display: flex;
  justify-content: center;
}

#contact-submit #filler-div {
  width: 100%;
}

#my-form-status {
  padding: 10px 0;
  font-size: 18px;
}

#my-form-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  margin-top: 10px;
  padding: 8px 24px;
  color: white;
  background: rgb(19, 13, 124);
  border-radius: 5px;

  transition: background-color 0.4s;
}

#my-form-button:hover {
  background: rgb(44, 56, 184);
}

@media only screen and (max-width: 1000px) {
  .left-container {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 825px) {
  .contact input {
    width: calc(100% - 4px);
    margin: 4px 0 0 0 !important;
  }

  #message {
    margin-top: 4px;
  }
}
