* {
    margin: 0;
    padding: 0;
  }

.title-container{
    height: 42vh;
    width: 100%;
    /* background:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),  url("los-angeles.jpg") no-repeat center center fixed; */
    background:    url("los-angeles.jpg") no-repeat center center fixed;

    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-container{
  height: 80vh;
  margin-left: 10%;
  width: 80%;
}

.about-container-left{
  width: 60%;
  height: 100%;;
  float: left;
}

.about-container-right{
  width: 40%;
  height: 100%;;
  float: right;
}

.about-title{
  margin-top:40px;
  font-size: 22px;
}

.about-description{
  
}