* {
    margin: 0;
    padding: 0;
  }

.title-container{
    height: 58vh;
    min-height: 200px;
    width: 100%;
    /* background:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),  url("los-angeles.jpg") no-repeat center center fixed; */
    background:    url("los-angeles.jpg") no-repeat top center fixed;

    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.about-container-left{
  text-align: center;
  width: 72%;
  margin-left: 14%;
  float: left;
}


.about-title{
  font-family: palatino;
  margin-top: 8vh;
  font-size: 22px;
}

.googleMap{
  margin-top: 20vh;
  height: 40vh;
  width: 100vw;
  border:0;
}