.main-container{
    display: flex;
    width: 68%;
    margin-left: 12%;
    margin-top: 40px;
}

.profiles-title{
    width: 100%;
    font-size: 25px;
    text-align: left;
    font-family: 'Times New Roman';
}

.left-container{
    padding-right: 32px;
}

.right-container{
}

.profile-image{
    width: 175px;
    margin-left: 50px;
    border: none;
    margin-top: 10px;
}

.left-menu{
    margin-top: 25px;
    width: 298px;
}

.left-menu-title{
    text-align: center;
    height: 45px;
    width: 280px;
    font-size: 12px;
    line-height: 15px;
    background: rgb(214, 214, 214);
    margin-top: 1px;
    transition: all .2s;
}

.practice-area{
    height: 45px;
    width: 280px;
    font-size: 12px;
    line-height: 15px;
    background: rgb(233, 233, 233);
    margin-top: 1px;
    transition: all .2s;
}

.practice-area:hover{
    width: 285px;
    height: 50px;
    background: rgb(243, 243, 243)
}


.inline-title{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}